*/venv/
*/__pycache__/
*.zip
*.zip   
venv/
venv-win/
package/
.specstory/*
scrape-service/scrape_service.egg-info
scrape-service/test/__pycache__
scrape-service/src/__pycache__
scrape-service/.coverage
scrape-service/private_tests/
